<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    Scan-N-Shop<span class="tagline">Scan On the GO!</span>
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{show : isNavBarOpen}">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/scanner" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Scan</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cart</a>
      </li>
    </ul>
  </div>
</nav>